@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

section[id="#services-section"]{
scroll-margin-top: 80px
}
section[id="#about-section"]{
scroll-margin-top: 80px
}
section[id="#contact-section"]{
scroll-margin-top: 80px
}

